In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df= pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2021-03-31 20:45:17,42.6001,-73.9662,57.99,67,100,3.00
1,1,Saint-Philippe,RE,2021-03-31 20:45:17,-21.3585,55.7679,77.00,78,90,9.22
2,2,Arraial Do Cabo,BR,2021-03-31 20:45:18,-22.9661,-42.0278,78.80,73,20,17.27
3,3,Aanekoski,FI,2021-03-31 20:45:18,62.6946,25.8180,37.40,65,0,6.91
4,4,Beruwala,LK,2021-03-31 20:45:18,6.4788,79.9828,80.24,84,100,4.21

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?95

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Saint-Philippe,RE,2021-03-31 20:45:17,-21.3585,55.7679,77.00,78,90,9.22
2,2,Arraial Do Cabo,BR,2021-03-31 20:45:18,-22.9661,-42.0278,78.80,73,20,17.27
4,4,Beruwala,LK,2021-03-31 20:45:18,6.4788,79.9828,80.24,84,100,4.21
8,8,Pontianak,ID,2021-03-31 20:45:19,-0.0333,109.3333,77.00,100,20,2.30
12,12,Guerrero Negro,MX,2021-03-31 20:45:21,27.9769,-114.0611,85.78,17,9,6.42
15,15,Kahului,US,2021-03-31 20:42:08,20.8947,-156.4700,78.80,73,40,13.80
20,20,Puerto Ayora,EC,2021-03-31 20:45:23,-0.7393,-90.3518,82.40,74,20,9.22
23,23,Lima,PE,2021-03-31 20:44:28,-12.0432,-77.0282,75.00,68,0,10.36
24,24,Rikitea,PF,2021-03-31 20:45:24,-23.1203,-134.9692,79.38,70,41,17.87
25,25,Kapaa,US,2021-03-31 20:44:26,22.0752,-159.3190,78.80,69,40,11.50

In [12]:
preferred_cities_df.count()

City_ID       196
City          196
Country       196
Date          196
Lat           196
Lng           196
Max Temp      196
Humidity      196
Cloudiness    196
Wind Speed    196
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1    Saint-Philippe      RE     77.00 -21.3585   55.7679
2   Arraial Do Cabo      BR     78.80 -22.9661  -42.0278
4          Beruwala      LK     80.24   6.4788   79.9828
8         Pontianak      ID     77.00  -0.0333  109.3333
12   Guerrero Negro      MX     85.78  27.9769 -114.0611
15          Kahului      US     78.80  20.8947 -156.4700
20     Puerto Ayora      EC     82.40  -0.7393  -90.3518
23             Lima      PE     75.00 -12.0432  -77.0282
24          Rikitea      PF     79.38 -23.1203 -134.9692
25            Kapaa      US     78.80  22.0752 -159.3190

In [36]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [53]:
from config import g_key
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

# Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

# Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Saint-Philippe,RE,77.00,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
2,Arraial Do Cabo,BR,78.80,-22.9661,-42.0278,Pousada Porto Praia
4,Beruwala,LK,80.24,6.4788,79.9828,The Palms Hotel
8,Pontianak,ID,77.00,-0.0333,109.3333,Aston Pontianak Hotel & Convention Center
12,Guerrero Negro,MX,85.78,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
15,Kahului,US,78.80,20.8947,-156.4700,Maui Seaside Hotel
20,Puerto Ayora,EC,82.40,-0.7393,-90.3518,Finch Bay Galapagos Hotel
23,Lima,PE,75.00,-12.0432,-77.0282,Gran Hotel Bolivar Lima
24,Rikitea,PF,79.38,-23.1203,-134.9692,Pension Maro'i
25,Kapaa,US,78.80,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach

In [56]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))